<!DOCTYPE html>
<html lang="ru" style="background-color: #0D1117">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="fydne.dev">
<meta name="author" content="fydne">
<title>fydne.dev</title>

<link rel="icon" type="image/ico" href="/logo.png" />

<script type="module" src="/main.js"></script>

<meta property="og:title" content="fydne.dev" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://fydne.dev" />
<meta property="og:description" content="hello" />
<meta name="theme-color" content="<%=color%>">
<style>
:root{--main-color: <%=color%>;}
</style>
<link href="/style.css" rel="stylesheet">
</head>
<body>

<div class="dh">
    <div class="header">
        <div class="text">
            <span><cm>></cm><txt></txt><blk>_</blk></span><span class="desc">I'm fydne, just a nn dev</span>
        </div>
    </div>
    <canvas id=c></canvas>
</div>
<div class="cnt">
    <label class="ttl">In the development</label>
    <div class="prjs">
        <div class="prj">
            <div class="icon qurre-pay-icon"></div>
            <span>Qurre Pay</span>
            <mod class="desc"></mod>
            <mod class="desc">
                <span>Payment system for convenient payments</span>
                <span>Status: [Developing]</span>
            </mod>
        </div>
        <div class="prj">
            <div class="icon qurre-id-icon"></div>
            <span>Qurre ID</span>
            <mod class="desc"></mod>
            <mod class="desc">
                <span>Unified account system</span>
                <span>Status: [Developing]</span>
            </mod>
        </div>
        <div class="prj">
            <div class="icon game-icon"></div>
            <span class="fix" style="font-size: 26px;">fydne SCP:SL</span>
            <mod class="desc">
                <span>Project in the game SCP:SL</span>
                <span>Status: [Active]</span>
                <button onclick="window.open('https://scpsl.shop', '_blank').focus();">Visit website</button>
            </mod>
        </div>
        <div class="prj">
            <div class="icon qurre-socket-icon"></div>
            <span class="fix" style="font-size: 26px;">Qurre Socket</span>
            <mod class="desc">
                <span>Tcp socket for communication between client and server</span>
                <span>Status: [Active]</span>
                <button onclick="window.open('https://www.npmjs.com/package/qurre-socket', '_blank').focus();">Visit npm</button>
                <button onclick="window.open('https://www.nuget.org/packages/Qurre-Socket', '_blank').focus();">Visit nuget</button>
            </mod>
        </div>
        <div class="prj">
            <div class="icon soundcloud-icon"></div>
            <span>SoundCloud</span>
            <mod class="desc">
                <span>SoundCloud Desktop App</span>
                <span>SoundCloud Client for Windows 7+</span>
                <span>Status: [Active]</span>
                <button onclick="window.open('https://github.com/fydne/SoundCloud-Desktop', '_blank').focus();">Visit GitHub</button>
            </mod>
        </div>
    </div>
    <label class="ttl">Leaved from the development</label>
    <div class="prjs">
        <div class="prj">
            <div class="icon qurre-sl-icon"></div>
            <span>Qurre-sl</span>
            <mod class="desc">
                <span>Simple, convenient and functional plugin loader for SCP: Secret Laboratory</span>
                <span>Status: [Unknow]</span>
                <button onclick="window.open('https://github.com/Qurre-SL/Qurre', '_blank').focus();">Visit GitHub</button>
            </mod>
        </div>
        <div class="prj">
            <div class="icon qurre-bot-icon"></div>
            <span>Qurre Bot</span>
            <mod class="desc">
                <span>Discord Bot; Functionality - Tickets and Auto-moderation</span>
                <span>Status: [Archived]</span>
                <button onclick="window.open('https://bot.fydne.dev', '_blank').focus();">Visit website</button>
            </mod>
        </div>
    </div>
</div>

<link href="https://cdn.scpsl.store/scpsl.store/css/fonts.css" rel="stylesheet">

<script src="/canvas.js"></script>
<script src="/render.js"></script>
</body>
</html>